<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .footer {
  text-align: center;
  color: #a69898db;
  font-size: 0.9em;
  padding: 10px;
  border-top: 1px solid hwb(0 99% 1% / 0.818);
  margin-top: 20px;
}

.fa {
  color: blue;
}

.In {
  color: pink;
}

.Tw {
  color: navy;
}
</style>
<body>
    <header></header>
    <main></main>
    <footer class="footer">
        <p>&copy; 2024 Cricket Prognosticator | Made with ❤️ for cricket fans</p>
        <p>
            <a href="https://www.facebook.com" target="_blank" class='fa'>Facebook</a> |
            <a href="https://www.instagram.com" target="_blank" class='In'>Instagram</a> |
            <a href="https://www.twitter.com" target="_blank" class='Tw'>Twitter</a>
        </p>
    </footer>
</body>
</html>